*,
*::before,
*::after {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --black-shade: #1f1f1f;
    --lightgray-shade: #ebebeb;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

html,
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 62.5%;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--black-shade);
    column-gap: 3.125rem;
}

header, main {
    padding: 2.5rem 4.6875rem;
}

#logo {
    font-size: 2rem;
    text-decoration: none;
    color: white;
    min-width: max-content;
}

#search-city-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 0.3125rem;
}

#search-city-input,
#search-city-button {
    height: 2.5rem;
    padding: 0.3125rem;
}

#search-city-input:focus {
    outline: none;
}

main {
    background-color: var(--lightgray-shade);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 3.125rem; */
}

#weather-data-container {
    max-width: 37.5rem;
    width: max-content;
    height: max-content;
    background-color: white;
    padding: 2.8125rem 6.5625rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
    justify-content: center;
    border-radius: 0.3125rem;
}

#city-name {
    font-size: 3.125rem;
}

#city-name~p {
    font-size: 1.875rem;
}

#city-weather-description {
    text-transform: capitalize;
}